<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
    id="http://www.la-grange.net/2011/quoteLink"
    version="0.82">
    <name>QuoteLink</name>
    <author href="http://www.la-grange.net/karl/">Karl Dubost</author>
    <description xml:lang="en">Create a link for the cite attribute when specified on Q and BLOCKQUOTE.</description>
    <icon src="images/icon_64x64.png"/>
    <icon src="images/icon_18x18.png"/>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</license>
</widget>
